hr {
    color: black;
    height: 5px;
}

/* iframe {
    height: 500px;
} */

#navigator{
    display: flex;
    /* /* width: auto; */
    flex-direction: column;
    align-items: center; 
    margin-top: 50px;
}

a {
    text-decoration: none;
}

#folowers {
}